__pycache__/
*.py[cod]
*$py.class
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
venv/
.venv/
.env
.env.*
db.sqlite3
*.sqlite3
media/
staticfiles/
.idea/
.vscode/
.DS_Store
Thumbs.db
docker-compose.yml
